<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>EDUCATION</h1>
    </div>
  </div>
  <!--each school will be a card with bullets of what have from each, might add links to each school later-->
  <div class="row cards">
    <div class="col-lg-8 card-columns">
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">
            Ogden-Weber Technical College
          </h3>
          <ul>
            <li>Software Technology Certificate</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">
            Udemy.com
          </h3>
          <ul>
            <li>Facebook Messenger Chat Bots</li>
            <li>Basic Computer Systems</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">
            Brigham Young University
          </h3>
          <ul>
            <li>Business Minor Courses</li>
            <li>General & Elective Courses</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
