<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>CHARACTERISTICS</h1>
    </div>
  </div>
  <p>Click on a characteristic to read an example showing how I have each characteristic (not yet completed)</p>
  <!--when click on a card/characteristic, want to expand card size to read story-->
  <div class="row cards">
    <div class="col-lg-8 card-columns">
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#dependable" data-toggle="collapse" (click)="dependableCollapsed = !dependableCollapsed" [attr.aria-expanded]="!dependableCollapsed" aria-controls="dependable">
            Dependable
          </h3>
          <p id="dependable" [ngbCollapse]="!dependableCollapsed" *ngIf="dependableCollapsed">
            &#123;dependable example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#responsible" data-toggle="collapse" (click)="responsibleCollapsed = !responsibleCollapsed" [attr.aria-expanded]="!responsibleCollapsed" aria-controls="responsible">
            Responsible
          </h3>
          <p id="responsible" [ngbCollapse]="!responsibleCollapsed" *ngIf="responsibleCollapsed">
            &#123;responsible example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#starter" data-toggle="collapse" (click)="starterCollapsed = !starterCollapsed" [attr.aria-expanded]="!starterCollapsed" aria-controls="starter">
            Self-Starter
          </h3>
          <p id="starter" [ngbCollapse]="!starterCollapsed" *ngIf="starterCollapsed">
            &#123;starter example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#accountable" data-toggle="collapse" (click)="accountableCollapsed = !accountableCollapsed" [attr.aria-expanded]="!accountableCollapsed" aria-controls="accountable">
            Accountable
          </h3>
          <p id="accountable" [ngbCollapse]="!accountableCollapsed" *ngIf="accountableCollapsed">
            &#123;accountable example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#integrity" data-toggle="collapse" (click)="integrityCollapsed = !integrityCollapsed" [attr.aria-expanded]="!integrityCollapsed" aria-controls="integrity">
            Integrity
          </h3>
          <p id="integrity" [ngbCollapse]="!integrityCollapsed" *ngIf="integrityCollapsed">
            &#123;integrity example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#worker" data-toggle="collapse" (click)="workerCollapsed = !workerCollapsed" [attr.aria-expanded]="!workerCollapsed" aria-controls="worker">
            Hard Worker
          </h3>
          <p id="worker" [ngbCollapse]="!workerCollapsed" *ngIf="workerCollapsed">
            &#123;worker example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#quick" data-toggle="collapse" (click)="quickCollapsed = !quickCollapsed" [attr.aria-expanded]="!quickCollapsed" aria-controls="quick">
            Willing and Quick to Learn
          </h3>
          <p id="quick" [ngbCollapse]="!quickCollapsed" *ngIf="quickCollapsed">
            &#123;quick example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#teachable" data-toggle="collapse" (click)="teachableCollapsed = !teachableCollapsed" [attr.aria-expanded]="!teachableCollapsed" aria-controls="teachable">
            Teachable
          </h3>
          <p id="teachable" [ngbCollapse]="!teachableCollapsed" *ngIf="teachableCollapsed">
            &#123;teachable example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#detail" data-toggle="collapse" (click)="detailCollapsed = !detailCollapsed" [attr.aria-expanded]="!detailCollapsed" aria-controls="detail">
            Detail-Oriented
          </h3>
          <p id="detail" [ngbCollapse]="!detailCollapsed" *ngIf="detailCollapsed">
            &#123;detail example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#teamwork" data-toggle="collapse" (click)="teamworkCollapsed = !teamworkCollapsed" [attr.aria-expanded]="!teamworkCollapsed" aria-controls="teamwork">
            Teamwork
          </h3>
          <p id="teamwork" [ngbCollapse]="!teamworkCollapsed" *ngIf="teamworkCollapsed">
            &#123;teamwork example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#motivated" data-toggle="collapse" (click)="motivatedCollapsed = !motivatedCollapsed" [attr.aria-expanded]="!motivatedCollapsed" aria-controls="motivated">
            Motivated
          </h3>
          <p id="motivated" [ngbCollapse]="!motivatedCollapsed" *ngIf="motivatedCollapsed">
            &#123;motivated example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#enthusiastic" data-toggle="collapse" (click)="enthusiasticCollapsed = !enthusiasticCollapsed" [attr.aria-expanded]="!enthusiasticCollapsed" aria-controls="enthusiastic">
            Enthusiastic
          </h3>
          <p id="enthusiastic" [ngbCollapse]="!enthusiasticCollapsed" *ngIf="enthusiasticCollapsed">
            &#123;enthusiastic example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#resilient" data-toggle="collapse" (click)="resilientCollapsed = !resilientCollapsed" [attr.aria-expanded]="!resilientCollapsed" aria-controls="resilient">
            Resilient
          </h3>
          <p id="resilient" [ngbCollapse]="!resilientCollapsed" *ngIf="resilientCollapsed">
            &#123;resilient example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#persistent" data-toggle="collapse" (click)="persistentCollapsed = !persistentCollapsed" [attr.aria-expanded]="!persistentCollapsed" aria-controls="persistent">
            Persistent
          </h3>
          <p id="persistent" [ngbCollapse]="!persistentCollapsed" *ngIf="persistentCollapsed">
            &#123;persistent example&#125;
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title" id="#solver" data-toggle="collapse" (click)="solverCollapsed = !solverCollapsed" [attr.aria-expanded]="!solverCollapsed" aria-controls="solver">
            Problem-Solver
          </h3>
          <p id="solver" [ngbCollapse]="!solverCollapsed" *ngIf="solverCollapsed">
            &#123;solver example&#125;
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
