<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>ABOUT</h1>
    </div>
  </div>
  <!--Make this bigger so it fills the whole page and larger text-->
  <div class="row cards">
    <div class="col-lg-8 card-columns">
      <div class="card">
        <div class="card-content">
          As a problem-solver, I have always sought out opportunities and challenges that are meaningful to me.
          Although my professional path has taken many twists and turns, and has had many roadblocks - from
          lifeguarding, to fast food, to Student QA Tester and Developer, to tax examiner - I've never let
          anything stop me from engaging my passion to help others and solve problems.
          As a web developer, I love watching my code come to life on a screen, while knowing I am making life
          easier by solving a problem for someone out in the world. That's why I am excited to become my own
          boss and make a bit of an impact in people's lives.
        </div>
      </div>
    </div>
  </div>
</div>
