<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>EXPERIENCE</h1>
    </div>
  </div>
  <!--thoughts: I want the logo and company name on upper left,
          the position title on upper right with time right beneath,
          then a line. Using a card, the line might be automatic depending
          on a title and such for the card-->
  <!--italisize the company description-->
  <!--possible make these cards collapseable, depending on how looks after get them positioned correctly-->
  <div class="row cards">
    <div class="col-lg-8 card-columns">
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">
            &#123;IRS logo&#125;&nbsp;Internal Revenue Service
          </h3>
          <div class="card-subtitle">
            Revenue service of the United States federal government.
          </div>
          <hr>
          Tax Examining Technician
          Jan 2019 - Current
          <ul>
            <li>Correct error on tax forms or correspond with taxpayer for more information</li>
            <li>Help my Lead with extra projects, such as, in-depth research or helping my coworkers</li>
            <li>Help other areas as needed</li>
            <li>Help coworkers as a training instructor and an on-the-job-trainer</li>
            <li>Had a temporary assignment from Oct 2019 - Dec 2019 in Information Technology testing the software used to process tax returns</li>
            <li>Currently working on a pilot team to telework during COVID</li>
          </ul>
          <hr>
          <hr> <!--this line is to remind me to do a different line for between jobs vs between subtitle and descriptions-->
          Tax Examining Clerk
          Dec 2018 - Jan 2019
          <ul>
            <li>&#123;Bullet points of Tax Examining Clerk go here&#125;</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">
            &#123;MTC logo&#125;&nbsp;Missionary Training Center
          </h3>
          <div class="card-subtitle">
            Center devoted to training missionaries for The Church of Jesus Christ of Latter-day Saints
          </div>
          <hr>
          Student Software Developer
          Sept 2017 - July 2018
          <ul>
            <li>Using Agile Development and Angular, I would:</li>
            <ul>
              <li>Fix bugs assigned to me</li>
              <li>Worked on the frontend, backend, and database</li>
              <li>Created new features, such as, a feedback or settings section</li>
            </ul>
          </ul>
          <hr>
          <hr>
          Quality Assurance (QA) Tester
          May 2016 - Sept 2017
          <ul>
            <li>Made sure applications worked as expected and had a good design</li>
            <li>Wrote tickets when found a bug or had a suggestion</li>
            <li>Worked on two teams, one of which I was able to test the backend calls using Postman</li>
            <li>Helped coworkers and trained new employees as needed while a Team Lead</li>
          </ul>
        </div>
      </div>
      <!--Consider adding in prior jobs since start at Lagoon, Roy Aquatic Center, McDonalds, both Arbys-->
    </div>
  </div>
</div>
