/*these are for the arrows to switch back and forth on the click*/
a[aria-expanded=true] .fa-chevron-right {
  display: none;
}
a[aria-expanded=false] .fa-chevron-down {
  display: none;
}

.container {
  max-width: 100%;
}
h1 {
  text-align: center;
  background-color: rgb(000, 153, 000);
  padding: 1%;
}
.cards {
  padding: 2%;
}
.card {
  box-shadow: 3px 3px;
  border: 1px solid;
  margin-bottom: 1%;
}
.card-content {
  margin: 2%;
  font-size: xx-large;
}
.card-subtitle {
  font-style: italic;
}

