<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>PROJECTS</h1>
      &#123;Here I will have cards with projects I have completed, each on a card with screenshots or modals that popup with the code&#125;
    </div>
  </div>
</div>
