<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>CONTACT</h1>
    </div>
  </div>
  <!--need to make bigger to fill whole page, larger text-->
  <div class="row cards">
    <div class="col-lg-8 card-columns">
      <div class="card">
        <div class="card-content">
          <h3>Email: camille.hargis2894@omail.otech.edu</h3>
          <h3>Phone: 801-726-8920</h3>
          <h3>LinkedIn: <a href="https://www.linkedin.com/in/camille-hargis-97988a117/">https://www.linkedin.com/in/camille-hargis-97988a117/</a></h3>
          <h3>Bitbucket for this website: <a href="https://bitbucket.org/camillehargis22/portfolio/src/">https://bitbucket.org/camillehargis22/portfolio/src/</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
