<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>SKILLS</h1>
    </div>
  </div>
      <!--each group will be a card, try to get icon/logo to add with it-->
  <div class="row cards">
    <div class="col-lg-8 card-columns">
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">
            Programming Languages and Frameworks
          </h3>
          <hr>
          <!--Want these cards to be horizontal with icon/logo above-->
          <ul>
            <li>Angular</li>
            <li>Java</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Some C++</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">
            IDEs
          </h3>
          <hr>
          <ul>
            <li>IntelliJ Idea</li>
            <li>IntelliJ Webstorm</li>
            <li>Android Studio</li>
            <li>Visual Studio</li>
            <li>NetBeans</li>
          </ul>
        </div>
      </div>
      <!--This list needs to be split up better and probably have a different name-->
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">
            Tools
          </h3>
          <hr>
          <ul>
            <li>Node.js</li>
            <li>Docker</li>
            <li>Oracle SQL Developer</li>
            <li>SQLite</li>
            <li>Bitbucket</li>
            <li>Github</li>
            <li>Git</li>
            <li>Postman (API Testing)</li>
            <li>IBM RQM (Rational Quality Manager)</li>
            <li>Trello</li>
            <li>JIRA</li>
            <li>Windows</li>
            <li>Linux</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">
            Methodologies
          </h3>
          <hr>
          <ul>
            <li>Agile Development</li>
            <li>SCRUM</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">
            Microsoft Office
          </h3>
          <hr>
          <ul>
            <li>Word</li>
            <li>Excel</li>
            <li>PowerPoint</li>
            <li>OneNote</li>
            <li>Outlook</li>
            <li>SharePoint</li>
            <li>Visio</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">
            Other Technical Skills
          </h3>
          <hr>
          <ul>
            <li>Basic Troubleshooting</li>
            <li>Proficient in researching when needed, especially with company manuals and Google</li>
            <li>Willing to try something to see if it works</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
