.container {
  max-width: 100%;
}
h1 {
  text-align: center;
  background-color: rgb(000, 153, 000);
  padding: 1%;
}
.cards {
  padding: 2%;
}
.card {
  box-shadow: 3px 3px;
  border: 1px solid;
  margin-bottom: 1%;
}
.card-content {
  margin: 2%;
  font-size: xx-large;
}
li {
  display: inline-block;
  padding-right: 3%; /*3% for now, just so can see each item*/
}
ul {
  list-style-type: none;
}
