<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>AWARDS</h1>
    </div>
  </div>
  <!--do cards here again, with title and description, and add scanned photo or something-->
  <div class="row cards">
    <div class="col-lg-8 card-columns">
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">
            Trailblazer Award
          </h3>
          <!--put from and date on right of title-->
          <div class="card-subtitle">
            IRS
            July 2019
          </div>
          <hr>
          <p>
            &#123;Description of trailblazer award&#125;
          </p>
          <img src="#" alt="&#123;Scanned photo of trailblazer award&#125;">
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">
            Manager's Time Off Award
          </h3>
          <!--put from and date on right of title-->
          <div class="card-subtitle">
            IRS
            June 2020
          </div>
          <hr>
          <p>
            &#123;Description of time off award&#125;<!--given 20 hours, I'm assuming because I volunteered to work through COVID, maybe because I volunteered to telework-->
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
