.container {
  max-width: 100%;
}
h1 {
  text-align: center;
  background-color: rgb(000, 153, 000);
  padding: 1%;
}
.cards {
  padding: 2%;
}
.card {
  box-shadow: 3px 3px;
  border: 1px solid;
  margin-bottom: 1%;
}
/*may have to change this or add another class with -2%, so image will fill whole card*/
.card-content {
  margin: 2%;
  font-size: xx-large;
}
