.container {
  max-width: 100%;
  margin-bottom: 5%;
  margin-right: 5%;
}
img {
  max-width: 200px;
}
a {
  color: rgb(00, 64, 00);
  font-size: 28px;
}
.photo {
  text-align: center;
  transform: translateY(100px); /*not my favorite way to do this, but wanted to show how it looked until I figured out a better way*/
}
ul {
  list-style-type: none;
}
li {
  border: 1px solid;
}
.resume a:link {
  text-decoration: none;
}
.resume a:hover {
  text-decoration: none;
  color: blue; /*this is just for now to test*/
}
.col-lg-4 {
  border: 1px solid;
  margin-right: 75%;
}
.col-lg-8 {
  border: 1px solid;
  margin-left: 25%;
  transform: translateY(-950px); /*not my favorite way to do this, but wanted to show how it looked until I figured out a better way*/
}
