<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <!--these classes and divs create the navigation menu bar-->
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">
              <img src="../../assets/images/chameleon.png" alt="chameleon logo">
            </a>
            <ul class="nav navbar-nav">
              <!--Order of Menu Items: About, Education, Experience, Skills, Projects, Characteristics, Awards, Contact, Resume-->
              <!--Order of Menu Items after have more experience/projects: About, Skills, Projects, Experience, Education, Characteristics, Awards, Contact, Resume-->

              <li class="nav-item">
                <div data-toggle="collapse" (click)="aboutCollapsed = !aboutCollapsed" [attr.aria-expanded]="!aboutCollapsed" aria-controls="about">
                  <h1>
                    About
                    <i class="fa fa-chevron-down" *ngIf="!aboutCollapsed"></i>
                    <i class="fa fa-chevron-right" *ngIf="aboutCollapsed"></i>
                  </h1>
                </div>
              </li>
              <li class="nav-item">
                <div data-toggle="collapse" (click)="educationCollapsed = !educationCollapsed" [attr.aria-expanded]="!educationCollapsed" aria-controls="education">
                  <h1>
                    Education
                    <i class="fa fa-chevron-down" *ngIf="!educationCollapsed"></i>
                    <i class="fa fa-chevron-right" *ngIf="educationCollapsed"></i>
                  </h1>
                </div>
              </li>
              <li class="nav-item">
                <div data-toggle="collapse" (click)="experienceCollapsed = !experienceCollapsed" [attr.aria-expanded]="!experienceCollapsed" aria-controls="experience">
                  <h1>
                    Experience
                    <i class="fa fa-chevron-down" *ngIf="!experienceCollapsed"></i>
                    <i class="fa fa-chevron-right" *ngIf="experienceCollapsed"></i>
                  </h1>
                </div>
              </li>
              <li class="nav-item">
                <div data-toggle="collapse" (click)="skillsCollapsed = !skillsCollapsed" [attr.aria-expanded]="!skillsCollapsed" aria-controls="skills">
                  <h1>
                    Skills
                    <i class="fa fa-chevron-down" *ngIf="!skillsCollapsed"></i>
                    <i class="fa fa-chevron-right" *ngIf="skillsCollapsed"></i>
                  </h1>
                </div>
              </li>
              <li class="nav-item">
                <div data-toggle="collapse" (click)="projectsCollapsed = !projectsCollapsed" [attr.aria-expanded]="!projectsCollapsed" aria-controls="projects">
                  <h1>
                    Projects
                    <i class="fa fa-chevron-down" *ngIf="!projectsCollapsed"></i>
                    <i class="fa fa-chevron-right" *ngIf="projectsCollapsed"></i>
                  </h1>
                </div>
              </li>
              <li class="nav-item">
                <div data-toggle="collapse" (click)="characteristicsCollapsed = !characteristicsCollapsed" [attr.aria-expanded]="!characteristicsCollapsed" aria-controls="characteristicsCollapsed">
                  <h1>
                    Characteristics
                    <i class="fa fa-chevron-down" *ngIf="!characteristicsCollapsed"></i>
                    <i class="fa fa-chevron-right" *ngIf="characteristicsCollapsed"></i>
                  </h1>
                </div>
              </li>
              <li class="nav-item">
                <div data-toggle="collapse" (click)="awardsCollapsed = !awardsCollapsed" [attr.aria-expanded]="!awardsCollapsed" aria-controls="awards">
                  <h1>
                    Awards
                    <i class="fa fa-chevron-down" *ngIf="!awardsCollapsed"></i>
                    <i class="fa fa-chevron-right" *ngIf="awardsCollapsed"></i>
                  </h1>
                </div>
              </li>
              <li class="nav-item">
                <div data-toggle="collapse" (click)="contactCollapsed = !contactCollapsed" [attr.aria-expanded]="!contactCollapsed" aria-controls="contact">
                  <h1>
                    Contact
                    <i class="fa fa-chevron-down" *ngIf="!contactCollapsed"></i>
                    <i class="fa fa-chevron-right" *ngIf="contactCollapsed"></i>
                  </h1>
                </div>
              </li>
              <li class="nav-item resume">
                <h1><a href="../../assets/files/CamilleHargisResume.pdf" target="_blank">Resume</a></h1>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="photo" *ngIf="photoCollapsed">&#123;Professional photo of myself will go here&#125;</div> <!--not showing this for now-->
      <app-about id="about" [ngbCollapse]="aboutCollapsed" *ngIf="aboutCollapsed"></app-about>
      <app-education id="education" [ngbCollapse]="educationCollapsed" *ngIf="educationCollapsed"></app-education>
      <app-experience id="experience" [ngbCollapse]="experienceCollapsed" *ngIf="experienceCollapsed"></app-experience>
      <app-skills id="skills" [ngbCollapse]="skillsCollapsed" *ngIf="skillsCollapsed"></app-skills>
      <app-projects id="projects" [ngbCollapse]="projectsCollapsed" *ngIf="projectsCollapsed"></app-projects>
      <app-characteristics id="characteristics" [ngbCollapse]="characteristicsCollapsed" *ngIf="characteristicsCollapsed"></app-characteristics>
      <app-awards id="awards" [ngbCollapse]="awardsCollapsed" *ngIf="awardsCollapsed"></app-awards>
      <app-contact id="contact" [ngbCollapse]="contactCollapsed" *ngIf="contactCollapsed"></app-contact>
    </div>
  </div>
</div>
